<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css" />
    <script>
        $(function () {
            $("#b-more").click(function () {
                $("#cup").toggleClass("active");
                $("#basic").toggleClass("active");
            });
        });
        $(function () {
            $("#header-collapse-button").click(function () {
                $("#header-unit").toggleClass("active");
                $("#content-unit").toggleClass("active");
            });
        });
        // Ensure the DOM is fully loaded before running the script
        $(document).ready(function () {
            // Get the title of the document
            var title = $(document).attr("title");
            // Display the title inside an element with id 'titleDisplay'
            $("#titleDisplay").text(title);
        });
    </script>
</head>

<body>
    <!-- Header -->
    <header id="basic">
        <div id="basic-text-container">
            <a href="https://jerryly.top">
                <div id="b-info"></div>
            </a>
            <a href="https://blog.jerryly.top">
                <div class="b-style"><i class="fas fa-chevron-right"></i>&emsp;blog</div>
            </a>
            <div id="b-more"><b><i class="fas fa-chevron-right"></i>&emsp;<span id="titleDisplay"></span></b></div>
            <div class="b-style"><a href="#">to top</a></div>
            <div class="b-style"><a href="https://jerryly.top/pages/aluminum_studio.html">about</a></div>
        </div>
        <div id="cup">
            <div id="water">
                <span id="water-head">blogs in 2024</span>
                <ul id="water-list">
                    <a href="{{ url_for('page', path='blog_oct_4_2024') }}">
                        <li>On October 4, 2024</li>
                    </a>
                    <a href="{{ url_for('page', path='2024-06-04-visa-appointment-walk-through') }}">
                        <li>On June 4, 2024</li>
                    </a>
                    <a href="{{ url_for('page', path='2024-04-04-legal-statement') }}">
                        <li>On April 4, 2024</li>
                    </a>
                </ul>
                <span id="water-head">notes</span>
                <ul id="water-list">
                    <a href="{{ url_for('page', path='cs2100_notes') }}">
                        <li>Data Structure & Analysis</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>

    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer id="copyright-info">
        <p class="copyright-info">
            Feel free to mail any suggestions on this site to
            <a href="mailto:jerrylovesapple@icloud.com">jerrylovesapple@icloud.com</a>.<br>
        </p>
        <p class="copyright-info">
            <a id="my-page" href="http://jerryly.top/pages/aluminum_studio.html">
                © aluminum.studio 江源工作室 <i class="fas fa-arrow-right"></i>
            </a>
            &emsp;
            <a href="https://blog.jerryly.top/2024/04/04/legal-statement.html">
                <i class="fa-solid fa-scale-balanced"></i>&emsp13;
                Legal
            </a>
        </p>
    </footer>
</body>

</html>